@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    color: #373737;
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #373737;
}

a {
    text-decoration: none;
}

#logo {
    text-align: center;
    margin-top: 8px;
}

#menu li {
    text-align: center;
}
