@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    color: black
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #373737;
}

a {
    text-decoration: none;
    color: black
}

#logo {
    font-size: 200%;
    text-align: center;
    margin: 8px 8px 0px 8px;
}

#menu {
    font-size: 120%;
    letter-spacing: 8px;
    line-height: 24px;
    text-align: center;
}



#menu li {
    list-style-type: none;
    
}

#menu a:hover {
    border-bottom: 1px solid #373737; 
}

/* Hero image */

#hero-image {
    height: 250px;
    width: 100%;
    background: url(../images/pexels-isabella-mendes-860707-min.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 8px;
}

#edm {
    text-align: center;
}

#edm-header {
    font-size: 130%;
    padding: 8px 8px 8px 8px;
}

#edm p { font-size: 110%;
    padding: 2px;

}
