/* Fonts & Structural CSS */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: #373737;
    font-size: 200%;
}

p {
    margin: 4px 10% 8px 10%;
}

a {
    text-decoration: none;
    color: #373737;
}

.center {
    text-align: center;
}

#logo {
    font-size: 200%;
    margin: 8px 8px 0px 8px;
}

/*Navigation*/

#menu {
    font-size: 120%;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

#menu li {
    list-style-type: none;
    text-align: center;

}

#menu a:hover {
    border-bottom: 1px solid #373737;
}

/* Hero image */

#hero-image {
    height: 450px;
    width: 100%;
    /* Image taken from: https://www.pexels.com/photo/grayscale-photography-of-person-using-dj-controller-860707/ */
    background: url(../images/pexels-isabella-mendes-860707-minCOMPRESSED.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 8px;
}

/* About us & Contact Us */

.edm {
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
}

.edm p {
    font-size: 120%;
}

.about-us {
    padding: 5% 0px 2.5% 0px;
}

.contact-us {
    padding: 2.5% 0px 5% 0px;;
}

.contact {
    padding-top: 10%;

}

div>h2 {
    color: inherit;
    padding-bottom: 10px;
}

h2>p {
    margin: 8px;
}

/* Audio Section */

#gallery {
    margin: 16px;
}

audio {
    padding: 8px 8px 32px 8px;
}

.song-title {
    text-align: center;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Source: https://blog.shahednasser.com/how-to-style-an-audio-element/ */

audio::-webkit-media-controls-panel {
    background-color: #000000;
}

audio::-webkit-media-controls-mute-button {
    background-color: #FFFFFF;
    border-radius: 16px;
}

audio::-webkit-media-controls-play-button {
    background-color: #FFFFFF;
    border-radius: 16px;
}

audio::-webkit-media-controls-timeline {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 1px;
}

audio::-webkit-media-controls-current-time-display {
    color: #FFFFFF;
    padding: 2px;
}


audio::-webkit-media-controls-time-remaining-display {
    color: #FFFFFF;
    padding: 2px;
}

/* Send Music section */

.top-margin {
    margin-top: 5%;
}

fieldset {
    border: 2px solid #000000;
    border-radius: 6px 6px 0px 0px;
    padding-bottom: 2.5%;
}

legend {
    padding: 0 2% 0 2%;
}

label {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"] {
    border: 1px solid #373737;
    width: 15em;
    height: 1.5em;
    margin-bottom: 8px;
}

input[type="submit"] {
    padding: 2%;
    font-size: 100%;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 16px;
    border: solid 2px #FFFFFF;
}

input[type="submit"]:hover {
    border: solid 2px #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 100%;
}

input[type="file"] {
    width: 200px;
    font-weight: bold;
    
}

input::file-selector-button {
    padding: 2%;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 16px;
}

form {
    text-align: center;
    font-size: 120%;
}

/*Footer code taken from: https://github.com/samuelkerstell/love-running*/

footer {
    height: 75px;
    border-top: 1px solid #000000;
    margin-top: auto;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #373737;
}

/* confirmation */

.song-sent>h3 {
    font-size: 120%;
    margin-top: 100px;
    margin-bottom: .5%;
    color: #000000;
}

.song-sent>p {
    text-align: center;
    padding: 0 5% 0 5%;
}

.song-sent {
    font-size: 110%;
    font-weight: bold;
    color: #373737;

}


/* Media queries */

/* Design was breaking under 305px and added a horizontal scroll (styled to fit galaxy fold) */
@media screen and (max-width: 305px) {
    p {
        margin: 0px;
    }
}
    


@media screen and (min-width: 950px) {
    #logo {
        text-align: initial;
    }

    #menu {
        margin-top: -75px;
        float: right;
        padding-right: 8px;
    }

    #menu li {
        display: inline;
        padding-left: 0;
        padding: 10px;
        letter-spacing: 4px;
    }

    #menu,
    #logo {
        line-height: 75px;
    }

    #edm {
        text-align: center;

    }

    input[type="submit"] {
        padding: 1%;
        border-radius: 36px;
    }

    input[type="text"],
    input[type="email"] {
        width: 25em;
        height: 2em;
    }
}

@media screen and (min-width: 1400px) {
    #hero-image {
        height: 700px;

    }

    fieldset {
        padding-top: 50px;
    }

    #edm {
        text-align: center;
        height: 300px;
    }

    .top-margin {
        margin-top: 0;
    }

    input[type="submit"] {
        padding: 1%;
        border-radius: 36px;
    }

    input[type="text"],
    input[type="email"] {
        width: 25em;
        height: 2em;
    }
}